#game-header {
  display: flex;
  flex-direction: row;
  background: black;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  vertical-align: top;
  display: flex;
  flex-direction: row;
  min-height: var(--gameheader-height);

  .material-icons {
    font-size: 2em;
  }



}

.game-header-inner {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px 4px 8px 12px;
  align-items: flex-end;
  height: min-content;

  .ghmenu-item {
    padding: 4px 12px;
  }

  #timer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: baseline;

    div {
      align-items: center;
    }


  }
}




@media (max-width: $breakpoint-md) {
  #game-header {
    .material-icons {
      font-size: 1.5em;
    }
  }
  .game-header-inner {
    justify-content: flex-start;

    .ghmenu-item {
      padding: 0 12px;
    }

  }
}

