.modal-mask {
  transition: opacity .3s ease;
  background: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  transition: all 0.3s ease;
  width: 80%;
  max-height: 100%;
  overflow: auto;
  flex-basis: 650px;
  background-color: rgba(255, 255, 255, .16);
  background: #383838;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 0.25rem;
  padding: 12px 40px 32px 40px;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  .current-time {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 12px 0;
  }
  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0 16px;
  }
  .btn.close-button {
    font-size: 16px;
    top: 24px;
    right: 32px;
    height: 32px;
    width: 32px;
    padding: 0 9px;
    margin: auto 0 auto 12px;
  }
  h3 {
    margin-bottom: 0;
    display: inline-block;
    line-height: 1.25;
    font-weight: 300;
  }
  .modal-subheader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .current-time {
      width: auto;
      font-size: 1.5em;
    }
    .checkboxes {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;
      input {
        margin: 0 8px;
      }
      label {
        margin-right: 12px;
      }
    }
  }
  &.modal-medium {
    flex-basis: 650px;
    margin: 40px;
    max-height: calc(100% - 40px);
  }
  &.modal-large {
    flex-basis: 940px;
    margin: 40px;
    max-height: calc(100% - 40px);
  }
  &.modal-autoscale {
    margin: 40px;
    max-height: calc(100% - 40px);
    width: auto;
    flex-basis: auto;
}
  &.modal-fullscreen {
    flex-basis: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.modal-enter {
  opacity: 0;
  .modal-container {
    transform: scale(1.1);
  }
}
.modal-leave-active {
  opacity: 0;
  .modal-container {
    transform: scale(1.1);
  }
}

@media (max-width: 640px) {
  .modal,
  .modal.modal-medium,
  .modal.modal-large{
    margin:0;
  }
}