/* merriweather-sans-300 - latin */
@font-face {
  font-family: 'Merriweather_Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Merriweather_Sans Light'), local('MerriweatherSans-Light'),
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-300.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}

/* merriweather-sans-300italic - latin */
@font-face {
  font-family: 'Merriweather_Sans';
  font-style: italic;
  font-weight: 300;
  src: url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Merriweather_Sans Light Italic'), local('MerriweatherSans-LightItalic'),
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-300italic.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}

/* merriweather-sans-regular - latin */
@font-face {
  font-family: 'Merriweather_Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Merriweather_Sans'), local('MerriweatherSans-Regular'),
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-regular.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}

/* merriweather-sans-italic - latin */
@font-face {
  font-family: 'Merriweather_Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Merriweather_Sans Italic'), local('MerriweatherSans-Italic'),
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-italic.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}

/* merriweather-sans-700 - latin */
@font-face {
  font-family: 'Merriweather_Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Merriweather_Sans Bold'), local('MerriweatherSans-Bold'),
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-700.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}

/* merriweather-sans-700italic - latin */
@font-face {
  font-family: 'Merriweather_Sans';
  font-style: italic;
  font-weight: 700;
  src: url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Merriweather_Sans Bold Italic'), local('MerriweatherSans-BoldItalic'),
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-700italic.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}

/* merriweather-sans-800 - latin */
@font-face {
  font-family: 'Merriweather_Sans';
  font-style: normal;
  font-weight: 800;
  src: url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Merriweather_Sans ExtraBold'), local('MerriweatherSans-ExtraBold'),
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-800.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}

/* merriweather-sans-800italic - latin */
@font-face {
  font-family: 'Merriweather_Sans';
  font-style: italic;
  font-weight: 800;
  src: url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Merriweather_Sans ExtraBold Italic'), local('MerriweatherSans-ExtraBoldItalic'),
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./../fonts/Merriweather_Sans/merriweather-sans-v11-latin-800italic.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}

